@import '~normalize.css';

// FONTS
@import './fonts.scss';

// VARIABLES
$main-color: tomato;

// INITIAL

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
}

body {
  background-color: $main-color;
}


